@media (max-width: 1500px){
    .efeito h1{
        padding-block: 1em;
    }
    .img-logo, .mobile__menu, .mobile{
        display: none;
      }

    span{
        margin-right: 0em;
        font-size: 1.5em;
    }
    .sessao__section__titulo{
        font-size: 3em;
    }
    .sessao__section__logo{
        gap: 8em;
    }
    .sessao__section__logo p{
        display: none;
      
    }
    .botao-inicio a{
        font-size: 0.5em;
    }
    .swiper-slide{ /*Imagen do Carrossel*/
        display: block;
    }
    .swiper-slide img{
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 1200px){
    .img-logo, .mobile__menu, .mobile{
        display: none;
      }
    .titulo__video{
        font-size: 1.2em;
    }
    .sessao__section__titulo{
        font-size: 2em;
    }
    .header ul{
        gap: 1em;
    }
    .sessao__foto__design{
        width: 300px;
        height: 300px;
    }
    .div__foto{
        width: 300px;
        height: 300px;
    }
    .sessao__foto{
        gap: 0.5em;
    }
    #sessao-sobre{
        padding-inline: 0.5em;
        gap: 1em;
    }
    .swiper, .carrossel-mobile{
        
    }
    .botao-inicio a{
        font-size: 0.5em;
    }
}
@media (max-width: 1000px){
    .img-logo, .mobile__menu{
        display: none;
      }
    .sessao__foto__titulo{
        padding: 1em;
        line-height: 1em;
    }
    .efeito h1{
        padding-block: 0.2em;
    }
    .header__nav{
        display: flex;
        
    }
    .header ul{
        gap: 1em;
    }
    .sessao__video__grid .video-grid, .header__div, .titulo__video, .video {
       display: none;
    }
    .swiper, .imagens{
      
    }
}
@media (max-width: 820px){
    .header{
        position: relative;
    }
    .mobile__menu{
        position: absolute;
        right: 3.5em;
        padding: 1em;
        background-color:  #2c2c2c;
    }
    .header__menu, .mobile__menu{
        display: none;
    }
    .img-logo{
        display: block  !important;
    }

    .mobile, .img-logo {
      display: block !important; 
      width: 5em;
      height: 5em;     
    }
    .efeito h1{/*titulo header*/
        font-size: 3em;
        line-height: 3em;
    }
    .efeito h2{
        display: none;
    }
    .header__div{
        display: none;
    }
    .header__div-h3{
        font-size: 1.5em;
    }
    .sessao__foto__titulo{
        padding: 0.3em;
    }
     span{
       
        font-size: 1.4em;
    }
    .sessao__foto__design, .div__foto{
        width: 150px;
        height: 150px;
    }
     .sessao__div__titulos p{
        padding: 0.1em;
        line-height: 1em;
        font-size: 0.9em; /*paragrafo da sessao foto*/
    }
    .sessao__foto{
        gap: 0.1em;
    }
    .sessao__video__grid .video-grid {
        grid-template-columns: repeat(1, 1fr);
        display: none;
    }
    .sessao__section__titulo{
        font-size: 1.3em;
    }
    .sessao__section__logo{
        gap: 3em;
        padding-block: 1em;
    }
    .sessao__section__whatsapp{
        width: 80%;
    }
    .carrossel-mobile{
        display: block;
    }
    .header__div-faleconosco{
        font-size: 1.2em;
    }
    .botao-inicio a{
        font-size: 0.5em;
    }
    .footer p{
        display: none;
    }
    .swiper-slide{
        display: block;
    }
    .videos{
        display: block;
        color: #e0aa3e;
       
        border-radius: 100%;
        --swiper-navigation-size: 60px;
    }
    .swiper-pagination{
        display: none;
    }
}
@media (max-width: 450px){
    .sessao__section__titulo{
        font-size: 1em;
    }
    .efeito{
        font-size: 0.5em;
    }
    .sessao__div__titulos p{
        padding: 0.2em;
        line-height: 1em;
        font-size: 0.5em; /*paragrafo da sessao foto*/
    }
    span{
       
        font-size: 0.8em;
    }
    .header__logo img{
        width: 5em;
        height: 5em;
    }
    .img-logo{
        width: 5em;
        height: 5em;
    }
    
    .sessao__section__whatsapp{
        width: 80%;
    }
}