.sessao__section{
  display: flex;
  justify-content: center;
  gap: 2em;
  padding-block: 2em;
  animation: gradient 10s ease infinite;
  background-color: #161616;
  background-size: 300% 300%;
  position: relative;
}
.sessao__section__titulo {
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  font-size: 5em;
  animation: gradient 10s ease infinite;
  background: linear-gradient(-20deg, #b88a44, #e39b0d, #b88a44, #e0aa3e) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
}
.card{
  
  padding: 2em 1em;
  background: rgba(40, 40, 40, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 8px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}
.card .header__div a{
  width: 15em;
  text-align: center;
}
h3{
  text-align: center;
  line-height: 3em;
  font-size: 2em;
  font-weight: 600;
}
.sessao__section__logo{
padding-block: 3em;
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
}
.link{
display: flex;
align-items: center;
gap: 1em;
}
.logo {
  width: 3em;
  height: 3em;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.2);
}
.sessao__section__logo .pZap{
  color: #075e54;
}  
.pInsta{
  color: #833ab4;
}  
.pEmail{
  color: #ffffff;
}
.header__div-faleconosco{
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  font-size: 2em;
  background: linear-gradient(-20deg, #b88a44, #e39b0d, #b88a44, #e0aa3e) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
}
@media (max-width: 1500px){
  .sessao__section{
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
  }
  .card{
   width: 50%;
   margin: 0 auto;
    padding: 1em;
    background: rgba(40, 40, 40, 0.6);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 8px;
    
  }
  
}


