/*@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

@import 'reset.css';
@import 'videos.css';
@import 'header.css';
@import 'section.css';
@import 'footer.css';

*{
    text-decoration: none;
}


html, body {
    font-family: "Adamina", serif;
    margin: 0;
    height: 100vh;
    animation: gradient 10s ease infinite;
    background: linear-gradient(-45deg, #0a0a0a, #161616, #2c2c2c, #363636) no-repeat;
    background-size: 300% 300%;

  }
  @keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

