/*@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

@import 'reset.css';
@import 'videos.css';
@import 'header.css';
@import 'section.css';
@import 'sectionFoto.css';
@import 'footer.css';
@import 'carrossel.css';
@import 'carrosselImagem.css';
@import 'responsivo.css';

*{
    text-decoration: none;
}


html, body {
    font-family: "Adamina", serif;
    margin: 0;
    width: 100%;
    height: 100vh;
    animation: gradient 10s ease infinite;
    background: linear-gradient(-45deg, #0a0a0a, #161616, #2c2c2c, #363636) no-repeat;
    background-size: 300% 300%;
  }


 
  .botao-inicio{
    font-size: 0.3em;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    background: linear-gradient(-20deg, #b88a44, #e39b0d, #b88a44, #e0aa3e) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
}
  @keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
