.sessao__section{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-block: 2em;
    animation: gradient 10s ease infinite;
    background: linear-gradient(-45deg, #0a0a0a, #161616, #2c2c2c, #363636) no-repeat;
    background-size: 300% 300%;
}
.sessao__section__titulo{
    font-size: 5em;
    animation: gradient 10s ease infinite;
    background: linear-gradient(-20deg, #626367, #fcfcfc, #d7d8da, #adb0b5) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
}
.card{
    /*background-color: #ced4da;
    
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);*/
    padding: 3em;
    background: rgba(40, 40, 40, 0.6);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 8px;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
  }
  .card .header__div a{
    width: 15em;
    text-align: center;
  }
h3{
    text-align: center;
    line-height: 3em;
    font-size: 2em;
    font-weight: 600;
}
.sessao__section__logo{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 3em;
    height: 3em;
    transition: transform 0.3s ease;
  }
  
  .logo:hover {
    transform: scale(1.2);
  }
  .sessao__section__whatsapp p{
    color: #075e54;
  }  
  .sessao__section__instagram p{
    color: #833ab4;
  }  
  .sessao__section__facebook p{
    color: #075e54;
  }


